.u-section-1 .u-sheet-1 {
  min-height: 687px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 123px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -152px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-image-1 {
  width: 125px;
  height: 106px;
  margin: -211px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -181px -24px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -152px 74px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 10px 117px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 126px;
  height: 111px;
  margin: -211px 101px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 376px;
  height: 376px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -186px auto 0 -24px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: -116px auto 0 134px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -62px auto 0 128px;
}

.u-section-1 .u-image-3 {
  width: 140px;
  height: 120px;
  margin: -175px auto 60px 94px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -116px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -116px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 74px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -80px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 81px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 514px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 376px;
  height: 376px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 0 -25px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: -106px auto 0 80px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -63px auto 0 73px;
}

.u-section-2 .u-shape-2 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -259px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -143px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-2 .u-image-1 {
  width: 172px;
  height: 99px;
  margin: -228px auto 0;
}

.u-section-2 .u-shape-3 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -167px -24px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -143px 74px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 11px 49px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 159px;
  height: 85px;
  margin: -214px 85px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 151px;
  height: 150px;
  margin: -117px auto 60px 88px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -70px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -107px;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -107px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 527px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 376px;
  height: 376px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 0 -24px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -98px auto 0 92px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -63px auto 0 74px;
}

.u-section-3 .u-shape-2 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -267px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -135px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-3 .u-shape-3 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px auto 0 788px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -135px 74px 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: 11px 63px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 172px;
  height: 156px;
  margin: -256px auto 0 83px;
}

.u-section-3 .u-image-2 {
  width: 216px;
  height: 164px;
  margin: -164px auto 0;
}

.u-section-3 .u-image-3 {
  width: 300px;
  height: 183px;
  margin: -164px 15px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-3 {
    margin-left: 564px;
  }

  .u-section-3 .u-image-2 {
    height: 165px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -165px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-3 {
    margin-left: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-3 {
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -62px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -99px;
  }

  .u-section-3 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-top: -393px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: -109px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -15px;
  }
}