.u-section-1 .u-sheet-1 {
  min-height: 688px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 104px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -152px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -286px -24px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -152px 74px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 10px 61px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 376px;
  height: 376px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -286px auto 0 -24px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: -116px auto 0 109px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -62px auto 0 74px;
}

.u-section-1 .u-image-1 {
  width: 110px;
  height: 172px;
  margin: -223px auto 0 110px;
}

.u-section-1 .u-image-2 {
  width: 206px;
  height: 199px;
  margin: -183px auto 0;
}

.u-section-1 .u-image-3 {
  width: 211px;
  height: 153px;
  margin: -153px 59px 60px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -116px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -116px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -80px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 546px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 376px;
  height: 376px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 0 -25px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: -106px auto 0 75px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -63px auto 0 73px;
}

.u-section-2 .u-shape-2 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -259px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -143px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-2 .u-shape-3 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -296px -24px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -143px 74px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 11px 20px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 140px;
  height: 159px;
  margin: -252px auto 0 93px;
}

.u-section-2 .u-image-2 {
  width: 84px;
  height: 183px;
  margin: -171px auto 0;
}

.u-section-2 .u-image-3 {
  width: 138px;
  height: 138px;
  margin: -150px 74px 93px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -70px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -107px;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -107px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 527px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 376px;
  height: 376px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 0 -24px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -98px auto 0 6px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -63px auto 0 74px;
}

.u-section-3 .u-shape-2 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -267px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -135px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-3 .u-shape-3 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -304px auto 0 788px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -135px 74px 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: 11px 123px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 305px;
  height: 186px;
  margin: -275px auto 0;
}

.u-section-3 .u-image-2 {
  width: 156px;
  height: 192px;
  margin: -186px 86px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 196px;
  height: 224px;
  margin: -210px auto 60px 81px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-3 {
    margin-left: 564px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-3 {
    margin-left: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-3 {
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -62px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -99px;
  }

  .u-section-3 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-top: -393px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: -109px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -15px;
    margin-right: 77px;
  }
}