.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 104px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -152px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -286px -24px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -152px 74px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 10px 65px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 228px;
  height: 166px;
  margin: -242px auto 0;
}

.u-section-1 .u-shape-3 {
  width: 376px;
  height: 376px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -210px auto 0 -24px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  margin: -116px auto 0 115px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -62px auto 0 62px;
}

.u-section-1 .u-image-2 {
  width: 177px;
  height: 196px;
  margin: -236px 74px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 207px;
  height: 142px;
  margin: -141px auto 60px 62px;
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-3 {
    margin-top: -240px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -116px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -116px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-top: -440px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -80px;
    margin-left: 72px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 488px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 376px;
  height: 376px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 0 -25px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: -106px auto 0 91px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -63px auto 0 73px;
}

.u-section-2 .u-shape-2 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -259px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -143px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-2 .u-shape-3 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -296px -24px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -143px 74px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 11px 47px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 196px;
  height: 165px;
  margin: -259px 67px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 192px;
  height: 215px;
  margin: -190px auto 0;
}

.u-section-2 .u-image-3 {
  width: 226px;
  height: 226px;
  margin: -214px auto 60px 51px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -70px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -107px;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -107px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 513px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 376px;
  height: 376px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 0 -25px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -106px auto 0 68px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -63px auto 0 73px;
}

.u-section-3 .u-shape-2 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -259px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -143px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-3 .u-shape-3 {
  width: 376px;
  height: 376px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -296px -24px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -143px 74px 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: 11px 109px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 226px;
  height: 214px;
  margin: -277px auto 0;
}

.u-section-3 .u-image-2 {
  width: 237px;
  height: 237px;
  margin: -225px 46px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 132px;
  height: 207px;
  margin: -237px auto 60px 97px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-3 .u-image-3 {
    height: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -70px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -107px;
  }

  .u-section-3 .u-shape-3 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: -107px;
  }
}