 .u-section-1 {
  background-image: linear-gradient(25deg, #db545a, black);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 627px;
  min-height: 579px;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 38px 30px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0;
}

.u-section-1 .u-form-1 {
  height: 167px;
  width: 567px;
  margin: 48px 0 0;
}

.u-section-1 .u-label-1 {
  font-weight: normal;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  display: inline-block;
  padding: 10px 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  display: inline-block;
  padding: 10px 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  display: inline-block;
  padding: 10px 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 68px auto 0 11px;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 1.125rem;
  margin: -29px auto 0 343px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 43px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 296px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    margin-top: 103px;
    width: 320px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 125px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 96px;
  }
}